
body {
  margin: auto;
  margin-top: 15px;
  width: 960px;
  padding: 0;
}

.top {
  margin-bottom: 50px;
}

.btn-video {
  margin-bottom: 10px;
}

.vDescription {
  padding: 15px;
  text-align: left;
  font-size: 1.2em;
}

.rvRow {
  margin-bottom: 10px;
}

.rvTitle {
  padding: 10px;
  text-align: left;
  margin-left: 10px;
}

.whiteText {
  color: white;
}